.voice-list {
  padding: 24px;
  display: flex;
  justify-content: space-between;

  .voice-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    
    &:last-child {
      margin-right: 0;
    }

    .voice-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 8px;
    }

    .voice-name {
      font-size: 24px;
      color: #999;
    }
  }
}