
.creation-page {
  display: flex;
  flex-direction: column;
  .home-content-box{
    flex: 1;
    height: 50px;
    margin-top: -200px;
    padding: 0 24px;
    .home-content{
        height: 70%;
        background-color: #fff;
        border-radius: 24px;
        padding: 24px;
    }
  }
  .home-timbre-box{
    
  }
  .home-footer{
    margin-top: 24px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    .primary-button{
        margin: 0;
        &.max{
            flex-grow: 1;
            margin-right: 24px;
        }
    }
  }
}