@font-face {
    font-family: 'iconfont';  /* Project id 4857636 */
    src: url('https://at.alicdn.com/t/c/font_4857636_nal8ycxwwi.woff2?t=1741926636327') format('woff2'),
         url('https://at.alicdn.com/t/c/font_4857636_nal8ycxwwi.woff?t=1741926636327') format('woff'),
         url('https://at.alicdn.com/t/c/font_4857636_nal8ycxwwi.ttf?t=1741926636327') format('truetype'),
         url('https://at.alicdn.com/t/c/font_4857636_nal8ycxwwi.svg?t=1741926636327#iconfont') format('svg');
  }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}