$theme-color: RGBA(143,143,255,1);
$button-bg-color: #6666cc;

View,Text{
  margin: 0;
  padding: 0;
}

.primary-button {
  background-color: $button-bg-color !important;
  border-color: $button-bg-color !important;
}

.creation-page{
    position: relative;
    height: 88vh;
}